results.json
results.json
SampleOutput2.json
iteration3/DatasetPerformanceAndMetrics.json
iteration3/InstancePerformanceMetric.json
iteration3/UserPerformanceMetric.json
python-iteration1/__pycache__/FileHandler.cpython-39.pyc
.vscode/settings.json
python-iteration1/__pycache__/FileHandler.cpython-39.pyc
python-iteration1/__pycache__/Poll.cpython-39.pyc
python-iteration1/__pycache__/Question.cpython-39.pyc
python-iteration1/__pycache__/QuizPoll.cpython-39.pyc
python-iteration1/FileHandler.py
python-iteration1/__pycache__/FileHandler.cpython-39.pyc
python-iteration1/__pycache__/Poll.cpython-39.pyc
python-iteration1/__pycache__/QuizPoll.cpython-39.pyc
.vscode/settings.json
